<?xml version="1.0" encoding="UTF-8"?>
<project name="bs-vmap-vast" default="runServer">

<target name="runServer">
	<exec executable="python" dir="assets/web/examples">
		<arg line="-m" />
		<arg line="SimpleHTTPServer" />
		<arg line="9999" />
	</exec>
</target>

<target name="stopServer">
</target>

</project>